name: Test NPM Repo

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: ⬇️ Checkout repo
        uses: actions/checkout@v3

      - name: ⎔ Setup npm
        uses: ./action.yml

      - name: ⚡ Run test
        run: npm test


